:root {
	--color-primary-300: 104, 148, 136;
	--color-primary-400: 104, 148, 136;
	--color-primary-500: 104, 148, 136;
	--color-primary-600: 104, 148, 136;
	--color-primary-700: 104, 148, 136;
	--color-primary-800: 104, 148, 136;

	--color-secondary-500: 104, 148, 136;
}

header > h1 {
	color: rgba(var(--color-primary-500));
}

body {
	background-color: rgba(var(--color-primary-800));
}
